<template>
  <v-app>
    <router-view style="margin-bottom: 50px;"></router-view>
    <v-bottom-nav
      :active.sync="bottomNav"
      :value="true"
      fixed
      color="white"
      v-if="dashboard"
    >
      <v-btn
        color="teal"
        flat
        value="search"
        to="/search"
      >
        <span>Suche</span>
        <v-icon>search</v-icon>
      </v-btn>

      <v-btn
        color="teal"
        flat
        value="favorites"
        to="/wishlist"
      >
        <span>Favoriten</span>
        <v-icon>favorite</v-icon>
      </v-btn>

      <v-btn
        color="teal"
        flat
        value="settings"
        to="/settings"
      >
        <span>Einstellungen</span>
        <v-icon>settings</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-app>
</template>

<script>
import { EventBus } from './event-bus.js'

export default {
  name: 'App',
  data () {
    return {
      bottomNav: 'search',
      dashboard: false
    }
  },
  mounted(){
    this.dashboard = JSON.parse(localStorage.getItem('logged-in'));
  },
  created() {
    EventBus.$on('user-logged-in', () => {
      this.dashboard = true;
    });
    EventBus.$on('user-logged-out', () => {
      this.dashboard = false;
    });
  }
}
</script>

<style>
  html {
    font-family: 'Roboto', sans-serif;
  }
</style>
