extends layout

block content
    h1= title
    p Welcome to your Dashboard
    form(method='POST', enctype='multipart/form-data')
        input(type='file', name='imageupload')
        input(type='submit', name='uploadimage', value='Upload Image')

