extends layout

block content
    h1= title
    p Welcome
    button hello
    form(method='POST' action='/')
        div.form-group
            label(for='first_name') First Name:
            input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required='true'  )
        div.form-group
            label(for='family_name') Family Name:
            input#family_name.form-control(type='text', placeholder='Family name (Surname)' name='family_name' required='true')
    button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
