extends layout

block content
    h1= title
    p Welcome
    ul
     li #{error}
    h3 Login
    form(action='')
        .form-group
            label(for="username") username
            input.form-control(type="text", name='username', id="username")
        .form-group
            label(for="password") password
            input.form-control(type="text", name='password', id="password")
        .form-group
        button.btn.btn-success(type="submit", formmethod='GET') Login
        button.btn.btn-success(type="submit", formmethod='POST') Register
