<template>
  <v-layout>
    <v-flex xs10 sm4 offset-xs1 offset-sm4 style="margin-top:20%;">
      <v-card v-if="registered">
        <v-card-title primary-title>
          <div style="width: 100%;">
            <h3 class="headline mb-0">Login</h3>
            <form-login v-on:setRegister="setRegister"/> 
          </div>
        </v-card-title>
      </v-card>
      <v-card v-if="!registered">
        <v-card-title primary-title>
          <div style="width: 100%;">
            <h3 class="headline mb-0">Registrierung</h3>
            <form-registration/> 
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout> 
</template>

<script>
import FormRegistration from '../components/FormRegistration';
import FormLogin from '../components/FormLogin';

export default {
  components: {
    FormRegistration,
    FormLogin
  },
  data() {
    return {
      registered: true
    }
  },
  beforeMount() {
    if (JSON.parse(localStorage.getItem('logged-in')) === true) {
      this.$router.push('/search');
    }
  },
  methods: {
    setRegister() {
      this.registered = !this.registered;
    }
  }
}
</script>