<template>
    <v-layout>
    <v-dialog
      v-model="showDetail"
      width="500"
    >

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          {{ this.activeImage.name }}
        </v-card-title>

        <v-card-text>
          Plattform: {{ this.activeImage.platform }}<br>
          Publisher: {{ this.activeImage.publisher }}<br>
          USK: {{ this.activeImage.usk }}<br>
          Preis: {{ this.activeImage.price }}€ 
          <v-icon v-if="!images[activeId].favorite" style="float:right;margin-right:10px;" @click="addToWishlist">favorite_border</v-icon>
          <v-icon v-if="images[activeId].favorite"  style="float:right;margin-right:10px;" @click="removeFromWishlist">favorite</v-icon>
        </v-card-text>

        <v-divider></v-divider>
      </v-card>
    </v-dialog>

    <v-flex xs12 sm12>
      <v-card>
        <v-container grid-list-sm fluid>
          <v-layout row wrap>
            <v-flex
              v-for="n in imgSrcs.length"
              :key="n-1"
              xs4
              d-flex
            >
              <v-card flat tile class="d-flex">
                <v-img
                  :src="imgSrcs[n-1]"
                  aspect-ratio="0.7"
                  class="grey lighten-2"
                  @click="openDetail(n-1)"
                >
                  <template v-slot:placeholder>
                    <v-layout
                      fill-height
                      align-center
                      justify-center
                      ma-0
                    >
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-layout>
                  </template>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
    props: ['images'],
    data() {
        return {
            imgSrcs: [],
            activeId: 0,
            showDetail: false,
            activeImage: {},
        }
    },
    mounted() {
        this.images.forEach(image => {
            var binary = '';
            var bytes = [].slice.call(new Uint8Array(image.blob.data));
            bytes.forEach((b) => binary += String.fromCharCode(b));
            var base64Flag = 'data:image/jpeg;base64,';
            var imageStr = window.btoa(binary);
            const imageData = base64Flag + imageStr;
            this.imgSrcs.push(imageData);
        })
        
    },
    methods: {
        openDetail(id) {
            this.showDetail = true;
            this.activeId = id;
            this.activeImage = this.images[id];
        },
        addToWishlist() {
            this.images[this.activeId]['favorite'] = true;
            fetch('http://localhost:5000/search/add', {
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                      imageid: this.activeImage.imageid,
                      user: localStorage.getItem('user-name')
                    }),
                }).then(response => response.json())
                    .then(result => {
                        console.log(result);
                    })
        },
        removeFromWishlist() {
            fetch('http://localhost:5000/search/delete', {
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                      imageid: this.activeImage.imageid,
                      user: localStorage.getItem('user-name')
                    }),
                }).then(response => response.json())
                    .then(result => {
                        console.log(result);
                    })
        },
    }
}
</script>


