<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
                <v-text-field
                        label="Name des Spiels"
                        placeholder=""
                        v-model="gameName"
                ></v-text-field>
            </v-flex>
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
                <v-select
                        :items="consoleTypes"
                        label="Konsole"
                        v-model="consoleType"
                ></v-select>
            </v-flex>
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
                <v-text-field
                        label="Publisher"
                        placeholder=""
                        v-model="publisher"
                        :disabled="searchByName"
                ></v-text-field>
            </v-flex>
            <v-flex xs10 sm10 offset-xs1 offset-sm1>
                <v-select
                        :items="uskTypes"
                        label="USK"
                        v-model="usk"
                ></v-select>
            </v-flex>
            <v-flex xs6 sm4 offset-xs1 offset-sm1>
                <!-- <input
                        label="Bild hochladen"
                        placeholder="imageupload"
                        type="file"
                        @change="processFile($event)"
                /> -->
                <upload-button
                        title="Bild hochladen"
                        @file-update="processFile"
                        style="padding:0;">
                    <template slot="icon-left">
                        <v-icon>attach_file</v-icon>
                    </template>
                </upload-button>
            </v-flex>
            <v-flex xs1 sm1>
                <v-btn @click="searchGames" style="margin-top:15px; background-color:blue; color:white">Suche</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import RangeSlider from 'vue-range-slider'
    import 'vue-range-slider/dist/vue-range-slider.css'
    import UploadButton from 'vuetify-upload-button'

    export default {
        components: {
            RangeSlider,
            UploadButton
        },
        data() {
            return {
                consoleTypes: ['.', 'Playstation', 'Xbox', 'PC', 'Switch'],
                uskTypes: ['-', '0', '6', '12', '16', '18'],
                usk: [0, 6, 12, 16, 18],
                gameName: '',
                publisher: '',
                consoleType: '',
                usk: '',
                searchByName: false,
            }
        },
        computed: {
            nameIsEmpty() {
                this.searchByName = (this.gameName !== '') ? true : false;
            }
        },
        methods: {
            async searchGames() {
                fetch('http://localhost:5000/search/meta', {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        gameName: this.gameName,
                        consoleType: this.consoleType,
                        publisher: this.publisher,
                        usk: this.usk,
                    }),
                }).then(response => response.json())
                    .then(result => {
                        const images = result.rows.map(row => {
                            return {
                                blob: row[0],
                                name: row[1],
                                usk: row[2],
                                platform: row[3],
                                price: row[4],
                                publisher: row[5],
                                imageid: row[6]
                            };
                        });
                        this.$router.push({name: 'result', params: {images}});
                    })
            },
            async processFile(file) {
                console.log(file);
                const allowedTypes = ["image/jpeg", "image/jpg", "image/png"];
                if (!allowedTypes.includes(file.type)) {
                    this.message = "Filetype is wrong!!"
                }
                const user = localStorage.getItem('user-name');
                const formData = new FormData();
                formData.append('file', file);
                formData.append('user', user);
                fetch('http://localhost:5000/search/upload', {
                    method: 'POST',
                    body: formData,
                }).then(response => response.json())
                    .then(result => {
                        const images = result.rows.map(row => {
                            return {
                                blob: row[0],
                                name: row[1],
                                usk: row[2],
                                platform: row[3],
                                price: row[4],
                                publisher: row[5],
                                imageid: row[6]
                            };
                        });
                        this.$router.push({name: 'result', params: {images}});
                    })
            },
        }
    }
</script>

<style>
    .v-text-field.v-text-field--enclosed .v-text-field__details, .v-text-field.v-text-field--enclosed > .v-input__control > .v-input__slot {
        border-radius: 30px;
    }

    .slider {
        /* overwrite slider styles */
        width: 100%;
    }

    .upload-btn > label {
        padding: 0 10px 0 5px !important;
        margin: 15px 0 0 0 !important;
    }
</style>
