<template>
  <div>
    <v-btn color="error" @click="logout" style="cursor:pointer;background-color:red">Abmelden</v-btn>
  </div>
</template>

<script>
  import { EventBus } from '../event-bus.js'

  export default {
    methods: {
      logout() {
        localStorage.setItem('logged-in', false);
        EventBus.$emit('user-logged-out');
        this.$router.push('/');
      },
    }
  }
</script>

<style>
</style>
