<template>
  <form>
    <v-flex xs12>
      <v-text-field
        v-model="name"
        :error-messages="nameErrors"
        :counter="50"
        label="Name"
        required
        @input="$v.name.$touch()"
        @blur="$v.name.$touch()"
      ></v-text-field>
    </v-flex>
    <v-flex xs12>
      <v-text-field
        v-model="password"
        :error-messages="passwordErrors"
        label="Passwort"
        required
        :type="passwordFieldType"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
      ></v-text-field>
    </v-flex>
    <v-flex xs12><v-icon style="cursor:pointer; font-size:20px;" @click="switchVisibility">remove_red_eye</v-icon></v-flex>

    <v-flex xs12 style="margin-top:10px;">
      <v-btn @click="submit" style="margin-left:0px;">Einloggen</v-btn> 
      <span style="color:blue; margin:0 0 0 20px; cursor:pointer; float:bottom" @click="setRegister">Noch nicht registriert?</span>
    </v-flex>
  </form>
  </template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import { EventBus } from '../event-bus.js'

export default {
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(50) },
    password: { required, minLength: minLength(6) },
  },

  data(){
    return {
      name: '',
      password: '',
      passwordFieldType: 'password'
    }
  },

  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('Name darf maximal 10 Zeichen lang sein.')
      !this.$v.name.required && errors.push('Bitte geben Sie einen Namen ein.')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('Passwort muss mindestens 6 Zeichen lang sein.')
      !this.$v.password.required && errors.push('Bitte geben Sie ein Passwort ein.')
      return errors
    },
  },

  methods: {
    submit () {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        // do your submit logic here
        this.submitStatus = 'PENDING';
        const user = {
          name: this.name,
          password: this.password
        };
        fetch('http://localhost:5000/login', {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(user),
        }).then(response => response.json())
          .then(result => {
          if (result.login) {
            //Benutzer hat sich erfolgreich eingeloggt
            localStorage.setItem('logged-in', true);
            localStorage.setItem('user-name', user.name);
            EventBus.$emit('user-logged-in');
            this.$router.push('/search');
          } else {
            //Login fehlgeschlagen
            if (result.error === 'userNotExisting')
              alert('Login fehlgeschlagen: Benutzer existiert nicht!');
            
            if (result.error === 'passwordIncorrect')
              alert('Login fehlgeschlagen: Passwort falsch!');
          }
        })
      }
      
    },
    setRegister() {
      this.$emit('setRegister');
    },
    switchVisibility() {
      this.passwordFieldType = this.passwordFieldType === 'password' ? 'text' : 'password';
    }
  }
}
</script>

<style>
</style>