<template>
  <form>
    <v-text-field
      v-model="name"
      :error-messages="nameErrors"
      :counter="50"
      label="Username / E-Mail"
      required
      @input="$v.name.$touch()"
      @blur="$v.name.$touch()"
    ></v-text-field>
    <v-text-field
      v-model="password"
      :error-messages="passwordErrors"
      label="Passwort"
      required
      @input="$v.password.$touch()"
      @blur="$v.password.$touch()"
    ></v-text-field>

    <v-btn @click="submit">Registrieren</v-btn>
    </form>
  </template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email } from 'vuelidate/lib/validators'
import { EventBus } from '../event-bus.js'

export default {
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(50) },
    password: { required, minLength: minLength(6) },
  },

  data(){
    return {
      name: '',
      password: '',
    }
  },

  computed: {
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('Name darf maximal 50 Zeichen lang sein.')
      !this.$v.name.required && errors.push('Bitte geben Sie einen Namen ein.')
      return errors
    },
    passwordErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minLength && errors.push('Passwort muss mindestens 6 Zeichen lang sein.')
      !this.$v.password.required && errors.push('Bitte geben Sie ein Passwort ein.')
      return errors
    },
  },

  methods: {
    submit () {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
      } else {
        // do your submit logic here
        this.submitStatus = 'PENDING';
        const user = {
          name: this.name,
          password: this.password
        }
        console.log(user);
        fetch('http://localhost:5000/register', {
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(user),
        }).then(response => response.json())
          .then(result => {
          if (result.registered) {
            //Benutzer wurde erfolgreich registriert
            localStorage.setItem('logged-in', true);
            localStorage.setItem('user-name', user.name);
            EventBus.$emit('user-logged-in');
            this.$router.push('/search');
          } else {
            //Benutzername existiert bereits
            alert('Der Benutzername existiert bereits');
          }
        })
      }
      
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.select = null
      this.checkbox = false
    }
  }
}
</script>

<style>
</style>